<div class="home-content wrapper">
  <h2 class="page-title">「明日この映画見せよう！」</h2>
  <p>「学生の時に見たかったな・・」「この映画見て欲しい！」そんな映画を共有するサイト</p>
</div>
<div id="home" class="big-bg">
</div>
<div class="wrapper grid">
  <div class="item"><%= link_to "Elementary", '#' %></div>
  <div class="item"><%= link_to "Junior high", '#' %></div>
  <div class="item"><%= link_to "High school", '#' %></div>
</div>