<header class="page-header wrapper">
  <h1>movies for students</h1>
    <nav>
      <ul class="main-nav">
        <li>elementary</li>
        <li>junior high</li>
        <li>high school</li>
      </ul>
    </nav>
</header>