<header class="page-header wrapper">
  <h1>movies for students</h1>
    <nav>
      <ul class="main-nav">
        <li><%= link_to "小学校", '#' %></li>
        <li><%= link_to "中学校", '#' %></li>
        <li><%= link_to "高校", '#' %></li>
      </ul>
    </nav>
</header>